.App {
  
  text-align: center;
}



.App-header {
  
  background-color: #4DB6AC;
  
  height: 100px;
  
  padding: 20px;
  
  color: #666666;
}



.App-intro {
  
  font-size: large;

  color: #666666;  
}



p a {
  text-decoration: none;
  color: #4DB6AC;
}
